.left-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-header-title-input {
  border: 1px solid var(--border-color);
  background-color: var(--primary-color);
  color: var(--text-color);
  height: 24px;
}

.left-header-title-input:focus {
  outline: none;
}

/* .left-header-save {

}

.left-header-settings {

} */