.tab-folder-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  border: 1px solid var(--border-color);
  margin-top: 8px;
}

.tab-folder-list-container::-webkit-scrollbar {
  width: 10px;
}

.tab-folder-list-container::-webkit-scrollbar-track {
  background-color: var(--text-color);
  border-radius: 20px;
}

.tab-folder-list-container::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 20px;
} 

.tab-folder-list-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-color);
}

.tab-folder-list-empty {
  color: var(--text-color);
  user-select: none;
}