/* TAB FOLDER CONTAINER */

.tab-folder-details-container {
  display: flex;
  flex-direction: column;
}

/* WINDOW HEADER */

.tab-folder-details-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.tab-folder-details-header:hover {
  background-color: var(--selection-color);
  transition: background-color 0.2s;
  cursor: pointer;
}

.tab-folder-details-header .window-action-buttons {
  display: none;
}

.tab-folder-details-header:hover .window-action-buttons {
  display: flex;
  flex-direction: row;
}

.tab-folder-window-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.tab-folder-window-title {
  display: flex;
  flex-grow: 0;
  white-space: nowrap;
  overflow: hidden;
  color: var(--text-color);
  user-select: none;
}

.tab-folder-window-title-edit {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  background-color: var(--primary-color);
  color: var(--label-color-1);
  font-size: 12px;
  padding: 3px 0px 3px 4px;
  flex-grow: 1;
}

.tab-folder-window-title-edit:focus {
  outline: none;
}

/* TAB LIST */

.tab-folder-window-list {
  list-style: none;
  margin: 0;
  padding-left: 12px;
}

.tab-folder-window-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.tab-folder-window-tab-data-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 0;
}

.tab-folder-window-list-item-icon {
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  size: 1.5rem;
  object-fit: contain;
  padding: 4px;
  margin-right: 8px;
  color: var(--text-color);
  user-select: none;
}

.tab-folder-window-list-item-title {
  white-space: nowrap;
  overflow: hidden;
  color: var(--text-color);
  user-select: none;
}

.tab-folder-window-list-item:hover {
  background-color: var(--selection-color);
  transition: background-color 0.2s;
  cursor: pointer;
}

.tab-folder-window-list-item .delete-tab-button {
  display: none;
}

.tab-folder-window-list-item:hover .delete-tab-button {
  display: flex;
}
