.tab-folder-details-container {
  display: flex;
  flex-direction: column;
}

/* ICON CSS */

.tab-folder-details-delete-icon {
  display: flex;
  color: var(--text-color);
}

.tab-folder-details-delete-icon:hover {
  background-color: var(--delete-icon-hover-color);
  transition: background-color 0.2s;
  cursor: pointer;
}

/* WINDOW HEADER */

.tab-folder-details-header {
  display: flex;
  align-items: center;
}

.tab-folder-details-header:hover {
  background-color: var(--selection-color);
  transition: background-color 0.2s;
  cursor: pointer;
}

.tab-folder-window-title {
  white-space: nowrap;
  overflow: hidden;
  color: var(--text-color);
}

.tab-folder-window-dropdown-icon {
  display: flex;
  color: var(--text-color);
}

.tab-folder-window-dropdown-icon:hover {
  background-color: var(--hover-color);
  transition: background-color 0.2s;
  cursor: pointer;
}

/* LIST OF TABS */

.tab-window-list {
  list-style: none;
  margin: 0;
  padding-left: 12px;
}

.tab-window-list-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.tab-window-list-item .delete-tab-button {
  display: none;
}

.tab-window-list-item:hover {
  background-color: var(--selection-color);
  transition: background-color 0.2s;
  cursor: pointer;
}

.tab-window-list-item:hover .delete-tab-button {
  display: flex;
}

.tab-window-list-item:hover .delete-tab-button:hover {
  background-color: var(--delete-icon-hover-color);
  transition: background-color 0.2s;
  cursor: pointer;
}

.tab-window-list-item-icon {
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  size: 1.5rem;
  object-fit: contain;
  padding: 4px;
  margin-right: 8px;
  color: var(--text-color);
}

.tab-window-list-item-title {
  white-space: nowrap;
  overflow: hidden;
  color: var(--text-color);
}
