.divider {
  border-top: 1px solid var(--border-color);
}

.tab-folder-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  margin: 8px 8px 0px 8px;
}

.tab-folder-metadata-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-folder-title {
  color: var(--label-color-1);
  font-size: 16px;
  padding-left: 4px;
  white-space: nowrap;
  overflow: hidden;
}

.tab-folder-title-edit {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  background-color: var(--primary-color);
  color: var(--label-color-1);
  font-size: 16px;
  padding-left: 4px;
  flex-grow: 1;
}

.tab-folder-title-edit:focus {
  outline: none;
}

.tab-folder-date {
  color: var(--label-color-2);
  padding-left: 4px;
  white-space: nowrap;
  overflow: hidden;
}

.tab-folder-dropdown-icon {
  display: flex;
  color: var(--text-color);
}

.tab-folder-dropdown-icon:hover {
  background-color: var(--hover-color);
  transition: background-color 0.2s;
  cursor: pointer;
}

.tab-folder-delete-icon {
  display: flex;
  color: var(--text-color);
}

.tab-folder-delete-icon:hover {
  background-color: var(--delete-icon-hover-color);
  transition: background-color 0.2s;
  cursor: pointer;
}