.settings-modal-container {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.settings-modal-content {
  border: 1px solid var(--border-color);
  background-color: var(--primary-color);
  width: 45%;
  margin: 8px;
  padding: 8px;
  opacity: 1;
}

.settings-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--border-color);
}

.settings-modal-title {
  font-size: 16px;
  color: var(--text-color);
  user-select: none;
}

.settings-modal-body {
  padding: 8px;
}

.settings-option-container {
  display: flex;
  height: 24px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.settings-label {
  color: var(--text-color);
}

.settings-select {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.settings-select:focus {
  outline: none;
}