.toast-container {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.toast {
  padding: 8px 16px;
  /* border-radius: 5px; */
  font-size: 12px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  animation: slideIn 0.3s ease-out, fadeOut 0.5s ease-in 2.5s forwards;
}

.toast-info {
  background-color: #3498DB;
}

.toast-success {
  background-color: #2ECC71;
}

.toast-error {
  background-color: #E74C3C;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  30% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
    height: 0;
    margin: 0;
    padding: 0;
  }
}